{% extends 'common/base.html' %}

{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'common/js/datatables.js' %}"></script>
    <script src="{% static 'common/js/datatables-tabletools.js' %}"></script>
    <script src="{% static 'common/js/datatables-bootstrap.js' %}"></script>
{% endblock %}

{% block title %}
    {% trans "Ticket details" %}
{% endblock %}

{% block navbar-contents %}
    {{ block.super }}
    <li><a href="{% url 'homeview' %}">{% trans "Home" %}</a></li>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Ticket" "#" %}
    {% breadcrumb "Detail" "#" %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="well-sm center-block" style="width: 90%;">
        <div class="well well-sm" style="width: 45%; display: inline-block; vertical-align: top;">
            <div>
                <h4>{% trans "View ticket details" %}: {{ ticket.ticket_code }}</h4>
                <table class="table table-responsive center-block" id="tickets_table">
                    <tr>
                        <td><h4>{% trans "Status" %}</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{% trans "Status" %}</td>
                        <td>{% trans ticket.fk_status.label %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Reporter" %}</td>
                        <td>{{ ticket.fk_reporter.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Assigned to" %}</td>
                        <td>{{ ticket.fk_manager.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Way of creation" %}</td>
                        <td>{{ ticket.fk_channel.label }}</td>
                    </tr>
                    <tr>
                        <td><h4>{% trans "Cagegory" %}</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{% trans "Category" %}</td>
                        <td>{{ ticket.fk_category.getParentCategory.label }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Sub-category" %}</td>
                        <td>{{ ticket.fk_category.label }}</td>
                    </tr>
                    <tr>
                        <td><h4>{% trans "Geographic location" %}</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{% trans "Address" %}</td>
                        <td>
                            {{ ticket.fk_building.address }}, {{ ticket.fk_building.postcode }} {{ ticket.fk_building.city }}, {{ ticket.fk_building.country }}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Building" %}</td>
                        <td>{{ ticket.fk_building.building_name }}</td>
                    </tr>
                    {% if ticket.floor != "" %}
                    <tr>
                        <td>{% trans "Floor" %}</td>
                        <td>{{ ticket.floor }}</td>
                    </tr>
                    {% endif %}
                    {% if ticket.office != "" %}
                    <tr>
                        <td>{% trans "Office" %}</td>
                        <td>{{ ticket.office }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><h4>{% trans "Resolution" %}</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{% trans "Assigned company" %}</td>
                        <td>
                            {% if ticket.fk_manager == request.user %}
                                <form action="{% url 'ticketdetailview' ticket.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="ticket_id" value="{{ ticket.pk }}"/>
                                    <select name="changeCompany" onchange="this.form.submit();">
                                        <option name="None" value="None">{% trans "None" %}</option>
                                        {% for entry in suitableCompanies %}
                                            {% if entry.0 == ticket.fk_company %}
                                                <option name="companyID" value="{{ entry.0.pk }}" selected="selected">
                                                    {{ entry.0.name }} | {{ entry.1 }}km
                                                </option>
                                            {% else %}
                                                <option name="companyID" value="{{ entry.0.pk }}">
                                                    {{ entry.0.name }} | {{ entry.1 }}km
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            {% else %}
                                {{ ticket.fk_company }}
                            {% endif %}
                        </td>
                    </tr>
                    {% if ticket.fk_company != None %}
                    <tr>
                        <td>{% trans "Company phone number" %}</td>
                    <td>
                        {{ ticket.fk_company.phone_number }}
                    </td>
                    </tr>
                    <tr>
                        <td>{% trans "Address" %}</td>
                        <td>{{ ticket.fk_company.address }}, {{ ticket.fk_company.postcode }} {{ ticket.fk_company.city }}, {{ ticket.fk_company.country }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{% trans "Description / Notes" %}</td>
                        <td>{{ ticket.description }}</td>
                    </tr>
                </table>
            </div>
        </div>

        {% if request.user.isAdmin and ticket.fk_manager == request.user %}
        <div style="display: inline-block; vertical-align: top; margin-left: 1%;">
            <h4>{% trans "Ticket actions" %}:</h4>

            <form action="" method="post" name="ticketAction">
                {% csrf_token %}
                <input type="hidden" name="ticket_id" value="{{ ticket.pk }}"/>

                <p><input type="submit" name="ticket-release" value="{% trans "Release ticket management" %}"
                          class="btn btn-sm btn-danger"></p>
                {% if ticket.fk_status.label == "Open" %}
                    <p><input type="submit" name="ticket-to-inProgress" value="{% trans "Put ticket in progress" %}"
                              class="btn btn-sm btn-info"></p>
                {% elif ticket.fk_status.label == "In progress" %}
                    <p><input type="submit" name="ticket-to-closed" value="{% trans "Close ticket" %}"
                              class="btn btn-sm btn-info"></p>
                {% endif %}
            </form>
        </div>
        {% endif %}

        <div id="comment-div" class="well well-sm" style="display: block; width: 45%">
            <div id="title">
                <span id="comment-title"><h4>{% trans "Comments" %} <small>({% trans "click to expand/collapse" %})</small></h4></span>
            </div>
            <div id="content">
                <hr>
                <div id="comment-panel">
                    <form action="{% url 'ticketdetailview' ticket.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ ticket.pk }}"/>
                        <textarea name="comment-body" onclick="this.value = '';" onfocus="this.value = ''" required="required"
                                  title="Your comment: " rows="3" cols="60">{% trans 'Type your comment here' %}</textarea><br/>
                        <input type="submit" value="{% trans 'Send comment' %}" name="send-comment" class="btn btn-success">
                    </form>
                </div>
                <hr>
                <div id="existing-comments">
                    {% if ticket_comments %}
                        <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>{% trans "Commenter" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Message" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for comm in ticket_comments %}
                                <tr>
                                    <td>{{ comm.fk_commenter.get_full_name }}</td>
                                    <td>{{ comm.date_created }}</td>
                                    <td>{{ comm.comment|linebreaks }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    {% else %}
                        {% trans "No comment for this ticket." %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="history-div" class="well well-sm" style="display: block; width: 45%;">
            <div id="title">
                <h4>{% trans "Ticket history" %}
                    <span id="history-title-span"><small>({% trans "click to collapse/expand" %})</small></span>
                </h4>
            </div>
            <div id="content">
                <table id="history_table" class="table table-responsive center-block">
                    <thead>
                    <tr>
                        <th>{% trans "Update date" %}</th>
                        <th>{% trans "New status" %}</th>
                        <th>{% trans "Reason" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for history in ticket_history %}
                        <tr>
                            <td>{{ history.update_date }}</td>
                            <td>{% trans history.fk_ticket_status.label %}</td>
                            <td>{{ history.update_reason }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptBlock %}
    {{ block.super }}
    <script src="{% static 'ticketing/js/ticket_view.js' %}"></script>
{% endblock %}